.chessRow {
  display: flex;
}

.chessSquare {
  width: 70px;
  height: 70px;
}

.chessPiece {
  width: 70px;
  height: 70px;
}

.whiteChessSquare {
  background-color: white;
}

.blackChessSquare {
  background-color: black;
}