.button {
  position: relative;
  width: 140px;
  height: 50px;
  border-radius: 6px;
  cursor: pointer;
  background-color: var(--gray-7);
  border: 0;
  color: white;
  transition: filter 0.25s;
  box-sizing: border-box;
  &:hover {
    background-color: var(--gray-6);
  }

  &:active {
    outline: var(--button-outline);
  }

  &:disabled {
    filter: grayscale(50%) brightness(70%);
    cursor: default;
  }

  &.highlightedButton {
    border: 4px solid var(--success-green);
  }

  &.danger {
    background-color: var(--danger-red);

    &:hover {
      background-color: var(--red-3);
    }
  }

  &.primary {
    background-color: var(--success-green);

    &:hover {
      background-color: var(--green-3);
    }
  }
}
