.button {
  position: relative;
  width: 140px;
  height: 50px;
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(40, 40, 40);
  border: 0;
  color: white;
  transition: filter 0.25s;
  box-sizing: border-box;

  &.danger {
    background-color: rgb(150, 70, 70);
  }
  &.primary {
    background-color: rgb(70, 150, 70);
  }

  &:active {
    outline: rgb(100, 100, 200);
  }
  &:hover {
    filter: brightness(110%);
  }
  &:disabled {
    filter: grayscale(50%) brightness(70%);
    cursor: default;
  }

  &.highlightedButton {
    border: 4px solid rgb(70, 150, 70);
  }
}