.carousal {
  display: flex;
  flex-direction: column;

  .carousalItems {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: auto;
  }

  .carousalActions {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}
