.carousal {
  display: flex;
  flex-direction: column;

  .carousalItems {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: auto;
  }

  .carousalScreenSelector {
    display: flex;
    gap: 20px;
    align-items: center;
    overflow-x: hidden;
  }

  .carousalScreenSelectorItem {
    border: 0;
    background: none;
    padding: 4px;
    color: white;
    border-radius: 0;
  }

  .carousalScreenSelectorActive {
    border-bottom: 2px solid var(--green-4);
  }

  .carousalScreenSelectorItem:hover {
    cursor: pointer;

    svg {
      filter: drop-shadow(2px 2px var(--green-4))
        drop-shadow(2px -2px var(--green-4))
        drop-shadow(-2px -2px var(--green-4))
        drop-shadow(-2px 2px var(--green-4));
    }
  }

  .carousalActions {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}
