.changeLogModalContainer {
  text-align: center;
  min-width: 300px;
}

.changeLogModalTitle {
  margin-top: 0px;
}

.changeLogBody {
  text-align: start;
  max-height: 60vh;
  overflow-y: auto;
  padding: 0 6px;

  h5 {
    margin: 10px 0;
  }
  h6 {
    margin: 10px 0 0 0;
  }
}

.changeLogPaginationButton {
  cursor: pointer;
  padding: 0px 8px;
  margin: 0px 8px;
}

.changeLogMascot {
  padding-right: 6px;
}
