.changeLogModalContainer {
  text-align: center;
  min-width: 300px;
}

.changeLogModalTitle {
  margin-top: 0px;
}

.changeLogBody {
  text-align: start;
  max-height: 60vh;
  overflow-y: auto;
  padding: 0 6px;

  h5 {
    text-decoration: underline;
    margin: 10px 0;
  }
  h6 {
    margin: 10px 0 0 0;
  }
}

.changeLogList {
  list-style: none;
  text-align: left;
  padding-left: 0;
  overflow-y: auto;
  max-height: 60vh;

  li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  .changeLogLink {
    height: initial;
    width: initial;
    padding: 2px;
  }

  .changeLogLinkMascot {
    max-height: 25px;
  }
}

.changeLogViewAll {
  padding: 4px;
}

.changeLogMascot {
  padding-right: 6px;
}
