.navOptionButton {
  background: none;
  color: white;
  font-weight: 800;
  border: 0;
  width: 100%;
  padding: 20px;
  cursor: pointer;
  font-size: 0.8em;
  border-top: 2px solid var(--gray-6);

  & > * {
    vertical-align: middle;
  }

  svg {
    min-width: 40px;
  }

  span {
    display: inline-block;
  }

  &:hover {
    background-color: var(--gray-6);
  }

  &:last-child {
    border-bottom: 2px solid var(--gray-6);
  }
}
