.chessBoard {
  min-width: 320px;

  @media (orientation: landscape) {
    width: 60vh;
    height: 60vh;
  }

  @media (orientation: portrait) {
    width: 90vw;
    height: 90vw;

    @media (min-width: 600px) {
      width: 60vw;
      height: 60vw;
    }
  }
}

.chessRow {
  display: flex;
  justify-content: center;
  height: 12.5%;

  &:nth-child(1) {
    .chessSquare:nth-child(1) {
      border-top-left-radius: 10px;
    }

    .chessSquare:nth-last-child(1) {
      @media (max-width: 599px) {
        border-top-right-radius: 10px;
      }
    }
  }

  &:nth-last-child(1) {
    .chessSquare:nth-child(1) {
      @media (min-width: 600px) {
        border-bottom-left-radius: 10px;
      }
    }
  }
}
