.gameManagerContainer {
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 100%;
  background-color: rgb(70, 70, 70);
}

.gameManagerHeader {
  text-align: left;
  display: inline-block;
  margin: auto 0 auto 12px;
}

.gameManagerRightActions {
  display: flex;
  gap: 20px;
  margin: 10px 12px 10px auto;
}