.gameManagerBottomActions {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: rgb(70, 70, 70);
}

.gameManagerLeaveRoom {
  display: block;
  margin: 10px 20px;
}

.gameManagerChatContainer {
  position: relative;
  margin-left: auto;
  width: 400px;
}