.endGameModalContainer {
  text-align: center;
}

.endGameTitle {
  margin-top: 0;
}

.endGameBottomActions {
  display: flex;
  justify-content: space-evenly;
}

.endGamePlayerList {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: space-evenly;

  p {
    margin: auto 0;
  }
}

.endGamePlayer {
  width: 200px;

  @media (max-width: 499px) {
    font-size: 10px;
    width: 100px;
  }
}
