.roomOptionsContainer {
  padding: 0 20px;

  @media (max-width: 800px) {
    padding: 0 10px;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  select {
    height: fit-content;
  }
  input {
    height: 12px;
  }
}

ul.roomOptionsList {
  padding: 0 20px;
}

.roomOption {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;

  @media (min-width: 600px) {
    flex-direction: row;
    margin-bottom: 0px;
  }

  select {
    margin-right: 4px;
  }
}

.roomOptionLabel {
  max-width: 200px;
  margin-right: 8px;

  p {
    font-size: 12px;
  }
}

.roomOptionBanTimer {
  margin: auto 0;
}

.roomOptionButtons {
  margin-top: 8px;
  margin-right: 8px;
  width: 100px;
}
