.menuOptions {
  list-style: none;
  padding: 20px 0px;
  margin: 0;
  width: 35vw;
  background-color: #374151;
  border-radius: 6px;

  li {
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
  }
}