.menuOptions {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  width: 200px;
  list-style: none;
  margin: 0;
  z-index: 1;
  box-shadow: 0 0 10px 0 black;
  background-color: rgb(70, 70, 70);

  transition: left 0.5s;

  @media (min-width: 800px) {
    width: 300px;
  }

  @media (max-width: 600px) {
    position: fixed;
    box-shadow: none;
  }

  ul {
    padding: 20px 0px;
  }

  li {
    display: flex;
    justify-content: center;
  }
}

.menuMobileNav {
  position: sticky;
  width: 100%;
  background-color: rgb(70, 70, 70);
  @media (min-width: 600px) {
    display: none;
  }
}

.menuMobileButton {
  background: none;
  border: none;
  color: white;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.nameContainer {
  padding: 0 10px;
  text-align: center;

}

.avatarContainer {
  img {
    display: block;
    margin: 0 auto;
  }
}

.pokemonOfTheDayContainer {
  margin-top: auto;
  margin-bottom: 20px;
}

.menuOptionButtonContainer {
  border-top: 3px solid rgb(50, 50, 50);

  &:last-child {
    border-bottom: 3px solid rgb(50, 50, 50);
  }
}

.menuOptionButton {
  background: none;
  color: white;
  font-weight: 800;
  border: 0;
  width: 100%;
  padding: 20px;
  cursor: pointer;

  &:hover {
    background-color: rgb(50, 50, 50);
  }
}

.menuOptionsOpen {
  left: 0px;
}

.menuOptionsClose {
  left: -200px;
}