.timer {
  border-radius: 20%;
  background-color: var(--gray-1);
  color: black;
  padding: 4px;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: 600;
  font-variant-numeric: tabular-nums;

  &.paused {
    filter: brightness(50%);
  }

  span {
    margin-left: auto;
  }
}
