.pokemonBattleDetailsCard {
  display: flex;
  flex-direction: row;
  font-size: 1em;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100px;

  @media (min-width: 500px) {
    max-height: 200px;
  }

  @media (min-width: 900px) {
    max-height: 400px;
  }
}

.pokemonBattleDetailsCardSprite {
  max-width: 50%;
  max-height: 50%;
}

.pokemonBattleDetailsCardSet {
  display: flex;
  flex-direction: column;
}

.pokemonBattleDetailsCardSetTooltip {
  max-width: 200px;
}

.pokemonBattleDetailsCardSetType {
  width: 60px;
  height: 12px;
  margin-right: 8px;

  @media (min-width: 600px) {
    width: 75px;
    height: 15px;
  }
}

.pokemonBattleDetailsCardName {
  display: flex;
  gap: 4px;

  img {
    width: 7px;
    height: 10px;
    margin: auto 0;
  }
}

.pokemonBattleDetailsTyping {
  max-width: 50px;
  margin-right: 4px;
}
