.pokemonDetailsContainer {
  background-color: var(--gray-4);
  border-bottom-right-radius: 10px;
  min-height: 250px;
  container-type: size;
  container-name: pokemonDetails;
  overflow-y: auto;

  @media (orientation: portrait) {
    width: 90vw;
    height: 60vw;

    @media (min-width: 600px) {
      width: 60%;
    }
  }

  @media (orientation: landscape) {
    height: 60vh;
  }

  @media (min-width: 600px) {
    border-top-right-radius: 10px;
  }
  @media (max-width: 599px) {
    border-bottom-left-radius: 10px;
  }

  @media (min-width: 600px) {
    width: 30%;
    min-width: 20vw;
    max-width: 600px;
    height: inherit;
    align-self: stretch;
  }
}

.pokemonDetailsPadding {
  padding: 8px;
  box-sizing: border-box;
  height: 100%;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;

  @container pokemonDetails (min-width: 250px) and (min-height: 340px) {
    font-size: 1em;
  }
}

.pokemonDetailsCard {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    b {
      display: block;
    }
  }

  @media (min-width: 600px) {
    flex-direction: column;
  }
}

.pokemonDetailsIdentifier {
  display: flex;
  align-items: center;
  margin: 0;
  & > * {
    margin-right: 6px;
  }
}

.pokemonDetailsTypingContainer {
  margin: 4px 0;
}

.pokemonDetailsSpriteContainer {
  width: 20%;

  @media (min-width: 600px) {
    width: auto;
  }
}

.pokemonDetailsSprite {
  display: block;
  margin: auto;

  max-width: 100%;
  max-height: 100%;
}

.pokemonDetailsTyping {
  max-width: 60px;
  margin-right: 8px;
}

.pokemonDetailsItemContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.pokemonDetailsSquareModifier {
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 4px;

  @media (min-width: 600px) {
    justify-content: center;
  }
}

.pokemonWeatherBackground {
  &.detailsCardWeather {
    width: 20px;
    height: 20px;
    position: inherit;
    display: inline-block;
    opacity: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: white solid 1px;
  }
}

.pokemonDetailsTitle {
  display: flex;
  flex-direction: row-reverse;

  @media (min-width: 600px) {
    flex-direction: column;
  }
}

.pokemonDetailsIdentifierAndType {
  margin-right: auto;
}

.pokemonDetailsShiny {
  width: 20px;
  height: 20px;
}
