.movesContainer {
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-wrap: wrap;
  gap: 10px;
  width: 300px;

  @media (min-width: 600px) {
    width: auto;
  }
}

.subMoveContainer {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 6px 0px;
  gap: 10px;
}