.movesContainer {
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-wrap: wrap;
  gap: 10px;
}

.subMoveContainer {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 6px 0px;
  gap: 10px;
}