.pokemonMoveName {
  margin: auto;
}

.pokemonMovePP {
  float: right;
}

.pokemonMoveButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pokemonMoveSubInfo {
  font-size: 0.8em;
  text-align: left;
}

.pokemonMoveType {
  max-height: 16px;
}