.movesContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subMoveContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 0px;
  gap: 8px;
  width: 100%;
}
