.chatDisplayContainer {
  display: flex;
  flex-direction: column;
  border-top: 3px solid rgb(50, 50, 50);
  border-left: 3px solid rgb(50, 50, 50);
  background-color: #eeeeee;
  color: black;
  height: 30vh;
}

.chatLogActions {
  display: flex;
  margin-top: auto;
  width: 100%;

  input {
    height: 20px;
    width: 100%;
    border-radius: 0;
    border: 0;
    border-top: 3px solid rgb(50, 50, 50);
    border-right: 2px solid rgb(50, 50, 50);
    padding: 6px;
    outline: none;
  }
}

.chatLog {
  height: 100%;
  overflow-y: scroll;
  font-size: 14px;

  p {
    padding: 4px 4px;
    margin: 0;
    &:nth-child(odd) {
      background-color: #dcdcdc;
    } 
  }
}