.battleChessAndActionContainer {
  display: flex;
  flex-direction: column;

  @media (min-width: 600px) {
    flex-direction: row;
  }
}

.battleChessContainer {
  padding-bottom: 50px;
  width: 100%;
  padding-left: 0px;

  @media (min-width: 600px) {
    padding-left: 70px;
  }
}

.skipSpinnerContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  height: 60vh;
}

.battleChessPlayerList {
  margin-top: 50px;
  padding: 0 50px;
  box-sizing: border-box;
}