.battlefieldAndLog {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.battleContainer {
  display: flex;
  flex-direction: column;
}

.battleMoveContainer {
  padding: 10px;
  flex-grow: 1;
}

.cancelButton {
  margin-left: 4px;
}