.battlefieldAndLog {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.battleContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
}

.battleMoveContainer {
  max-width: 640px;
  margin: auto;

  @media (min-width: 1000px) {
    margin: initial;
  }

  @media (min-height: 800px) and (min-width: 1000px) {
    width: 100%;
  }
}

.cancelButton {
  margin-left: 4px;
}
