.draftManagerContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;

  @media (orientation: landscape) {
    width: 60vh;

    @media (min-width: 800px) {
      width: 90%;
    }
  }

  @media (min-width: 1450px) {
    flex-direction: row-reverse;
    justify-content: center;
  }
}

.draftActions {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.draftGameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 800px) {
    flex-direction: row; 
  }
}

.draftNotification {
  text-align: center;
  padding: 0 12px;
}

.banButton {
  display: flex;
  margin-top: 6px;
  button {
    margin: 0 auto;
  }
}