.draftGameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 800px) {
    flex-direction: row; 
  }
}

.draftNotification {
  text-align: center;
}

.banButton {
  display: flex;
  margin-top: 6px;
  button {
    margin: 0 auto;
  }
}