.pokemonMoveButton {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 0 10px 0 black;
  transition: filter 0.25s;
  font-size: 0.8em;

  max-width: 200px;
  max-height: 100px;
  min-width: 50px;
  min-height: 50px;
}

.pokemonMoveButton:hover {
  filter: brightness(105%);
}

.pokemonMoveButton:disabled {
  filter: grayscale(30%);
}