.pokemonMoveButton {
  width: 140px;
  height: 50px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 0 10px 0 black;
  transition: filter 0.25s;
}

.pokemonMoveButton:hover {
  filter: brightness(105%);
}

.pokemonMoveButton:disabled {
  filter: grayscale(30%);
}