.roomList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;

  li {
    height: 32px;
    font-size: 18px;
    align-content: center;
    padding: 8px;
    border-radius: 4px;
    &:hover {
      filter: brightness(80%);
    }

    &:nth-child(odd) {
      background-color: grey;
    }
    &:nth-child(even) {
      background-color: darkcyan;
    }
  }
}

.roomListTopActions {
  display: flex;

  .roomSearch {
    margin-left: auto;
  }
}

.refreshButton {
  height: 60px;
  width: 120px;
}