.reportIssueContainer {
  position: absolute;
  bottom: 6px;
  right: 6px;
}

.reportIssueButton {
  background-color: var(--dark-translucent-bg);
  color: white;
  border: none;

  cursor: pointer;
  border-radius: 0%;
  padding: 6px;
  white-space: nowrap;
  overflow: hidden;

  transition: border-radius, width, height, 0.5s;
  width: 250px;
  height: 30px;
}

.reportIssueButtonClosed {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
