.gameContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 90%;

  @media (orientation: landscape) {
    width: 60vh;

    @media (min-width: 800px) {
      width: 90%;
    }
  }
}

.chessGameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (min-width: 800px) {
    flex-direction: row; 
  }
}

.turnNotification {
  text-align: center;
  margin: 6px;
}