.optionsModalContainer {
  min-width: 250px;
  width: 80vw;

  container-type: inline-size;
  container-name: menuContainer;

  @media (min-width: 800px) {
    width: 50vw
  }
}

.optionsTitle {
  margin-top: 0;
  text-align: center;
}

.optionsForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.optionsActions {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    column-gap: 20px;
    padding-bottom: 10px;

    & > * {
      margin: auto 0;
    }
  }
}