.optionsModalContainer {
  min-width: 250px;
}

.optionsTitle {
  margin-top: 0;
}

.optionsForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.optionsActions {
  display: flex;
  justify-content: space-between;
}