.lobbyContainer {
  display: flex;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.roomListLobbyContainer {
  width: 100%;
  margin: 0 60px;

  @media (max-width: 600px) {
    margin: 0;
  }
}

.roomListContainer {
  background-color: var(--translucent-bg);
  backdrop-filter: blur(5px);
  box-shadow: 5px 5px 20px 5px black;
  border-radius: 8px;
  padding: 12px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.roomListBottomActions {
  display: flex;
  padding-top: 20px;

  .paginationActions {
    display: flex;
    align-items: center;
  }

  .paginationButton {
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

  .paginationLabel {
    padding: 0 10px;
    text-align: center;

    span {
      display: inline-block;
    }
  }

  .refreshButton {
    margin-left: auto;
    background: none;
    color: white;
    border: 0;
    cursor: pointer;

    &:disabled {
      filter: brightness(50%);
      animation: spin 0.5s infinite;
    }
  }
}
