.arrowControllerContainer {
  position: relative;
}

.arrowContainer {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: var(--chess-arrow-z-index);
}

.arrow {
  fill: var(--chess-arrow-orange);

  &.battle {
    fill: var(--chess-arrow-red);
  }
}
