.chessPiecePromotionButton {
  padding: 0;
  width: 100%;
  height: 20%;

  img {
    width: 100%;
    height: 100%;
    background-size: contain;
    pointer-events: none;
  }
}

.chessPiecePromotionMenu {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chessPiecePromotionPortal {
  z-index: var(--chess-pawn-promotion-z-index);
  position: absolute;
  height: 500%;
  width: 100%;
}
