.customizeModalContainer {
  min-width: 250px;
  width: 80vw;
  height: 50vh;

  container-type: inline-size;
  container-name: menuContainer;

  @media (min-width: 800px) {
    width: 60vw
  }
}

.customizeTitle {
  margin-top: 0;
  text-align: center;
}