.pokemonOfTheDay {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  img {
    max-height: 40px;
    @media (min-height: 700px) {
      max-height: 80px;
    }
  }
}