.pokemonBattleLogContainer {
  min-width: 100px;
  width: 30%;
  max-height: 600px;
  overflow-y: auto;
  background-color: #eef2f5;
  color: black;
  box-sizing: border-box;
  border: solid black 4px;

  &.simpleLogContainer {
    height: 80px;
    min-width: 600px;
    width: 100%;

    @media (max-width: 900px) {
      min-width: 300px;
      width: 100%;
      margin: auto;
    }
  }
  @media (min-width: 1000px) {
    &.simpleLogContainer {
      display: none;
    }
  }

  @media (max-width: 999px) {
    &.simpleLogContainer {
      display: block;
    }
    display: none;
  }
}

.textLog {
  padding-left: 4px;
  padding-right: 4px;
  font-size: small;
  margin: 4px 0px;
}

.turnLog {
  font-weight: 600;
  background-color: #e0e7ea;
  border-top: 2px solid #c1c4c6;
  border-bottom: 2px solid #c1c4c6;
  font-size: medium;
}
