.roomCodeModalContainer {
  min-width: 250px;
}

.roomCodeTitle {
  margin-top: 0;
}

.roomCodeForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.roomCodeActions {
  display: flex;
  justify-content: space-between;
}
