.p1Pokemon {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 100px;
  left: 100px;
}

.p2Pokemon {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 120px;
  right: 100px;
}

.healthbar {
  display: inline;
}

.pokemonHealth {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: xx-small;
  padding: 0px 2px;

  .pokemonHealthProgress {
    z-index: 3;

    .progressBarFiller {
      transition: width 0.5s;
    }
  }

  span {
    margin-left: -5px;
    padding-left: 8px;
    padding-right: 2px;
    background-color: #7a7a7a;
    border-radius: 3px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
}

.pokemonDetails {
  text-align: center;
  font-weight: 800;
  color: black;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;

  .pokemonGender {
    padding-left: 4px;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }

  .pokemonLevel {
    padding-left: 4px;
    font-weight: 500;
  }
}

.pokemonSpriteInfo {
  z-index: 2;
}

.pokemonStatus {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;

  .status {
    display: block;
    height: 12px;
    width: 30px;
  }

  .boost {
    font-size: 10px;
    line-height: 12px;
    height: 12px;
    padding: 0 2px;

    &.positive {
      color: green;
      border: 1px solid green;
      border-radius: 4px;
      background-color: lightgreen;
    }
    &.negative {
      color: red;
      border: 1px solid red;
      border-radius: 4px;
      background-color: pink;
    }
  }
}

.pokemonSprite {
  width: fit-content;
  margin: auto;
}

.p1PokemonSprite {
  z-index: 1;
}