.pokemonFieldSprite {
  transition:
    0.5s transform,
    0.5s opacity,
    0.5s visibility;

  @media (max-width: 900px) {
    transform: scale(50%) translate(-50%, 50%);
  }

  &.inspect {
    transform: scale(150%);
    @media (max-width: 900px) {
      transform: scale(75%) translate(-25%, 25%);
    }
  }

  &.hide {
    opacity: 0%;
    visibility: hidden;
  }
}

.p1Pokemon {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 50px;
  left: 50px;

  @media (max-width: 900px) {
    bottom: 30px;
    left: 30px;
  }
}

.p2Pokemon {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 100px;
  left: 400px;

  @media (max-width: 900px) {
    bottom: 50px;
    left: 180px;
  }
}

.healthbar {
  display: inline;
}

.pokemonHealth {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: xx-small;
  padding: 0px 2px;

  .pokemonHealthProgress {
    z-index: var(--pokemon-health-z-index);

    .progressBarFiller {
      transition: width 0.5s;
    }
  }

  span {
    margin-left: -5px;
    padding-left: 8px;
    padding-right: 2px;
    background-color: #7a7a7a;
    border-radius: 3px;
    text-shadow:
      -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
  }
}

.pokemonDetails {
  text-align: center;
  font-weight: 800;
  color: black;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;

  .pokemonGender {
    padding-left: 4px;
    text-shadow:
      -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
  }

  .pokemonLevel {
    padding-left: 4px;
    font-weight: 500;
  }
}

.pokemonSpriteInfo {
  z-index: var(--pokemon-battle-info-z-index);
}

.pokemonStatus {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
  width: 150px;

  .effects {
    font-size: 10px;
    line-height: 12px;
    height: 12px;
    padding: 0 2px;

    &.positive {
      color: green;
      border: 1px solid green;
      border-radius: 4px;
      background-color: lightgreen;
    }
    &.negative {
      color: var(--red-5);
      border: 1px solid var(--red-5);
      border-radius: 4px;
      background-color: var(--red-1);
    }
  }
}

.pokemonSpriteContainer {
  margin: auto;
}

@keyframes pokemonAppearanceAnimation {
  from {
    filter: brightness(10000%) blur(1px);
    height: 0px;
    width: 0px;
  }
  to {
    filter: brightness(100%) blur(0px);
    height: 100%;
    width: 100%;
  }
}

.pokemonSprite {
  position: relative;
  width: auto;
  height: auto;
  z-index: var(--pokemon-battle-sprite);
  animation: pokemonAppearanceAnimation 0.5s;

  &.brn {
    filter: opacity(0.8) drop-shadow(0px 0px 1px red);
  }
  &.frz {
    filter: opacity(0.8) drop-shadow(0px 0px 1px lightblue);
  }
  &.par {
    filter: opacity(0.8) drop-shadow(0px 0px 1px yellow);
  }
  &.tox,
  &.psn {
    filter: opacity(0.8) drop-shadow(0px 0px 1px purple);
  }
  &.slp {
    filter: opacity(0.8) drop-shadow(0px 0px 1px blue);
  }
}

.pokemonShadow {
  position: absolute;
  filter: brightness(0) blur(1px);
  z-index: var(--pokemon-battle-sprite-shadow);
  transform: translate(-130%, 45%) skew(80deg) scaleY(10%);
}

.pokemonTooltipTyping {
  max-width: 80px;
  margin-right: 8px;
}

.pokemonSprite:hover {
  transition: 0.5s filter;
  filter: drop-shadow(2px 2px var(--green-4))
    drop-shadow(2px -2px var(--green-4)) drop-shadow(-2px -2px var(--green-4))
    drop-shadow(-2px 2px var(--green-4)) drop-shadow(3px 3px var(--green-2))
    drop-shadow(3px -3px var(--green-2)) drop-shadow(-3px -3px var(--green-2))
    drop-shadow(-3px 3px var(--green-2));
  cursor: pointer;
}
