.passcodeInputContainer {
  label {
    display: block;
  }
}

.passcodeInputWrapper {
  position: relative;

  button {
    color: white;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    height: 100%;
  }
}