.endGameModalContainer {
  width: 500px;
  text-align: center;
}

.endGameTitle {
  margin-top: 0;
  text-align: center;
}

.endGameBottomActions {
  display: flex;
  padding: 0 50px;

  .endGameRematch {
    margin-left: auto;
  }
}