
@keyframes floating {
  from {
    transform: translateY(0%) rotate(0deg) scale(var(--scale));
    opacity: 0.5;
  }
  to {
    transform: translateY(-1200%) rotate(var(--rotation)) scale(var(--scale));
    opacity: 0;
  }
}

.float {
  position: absolute;
  animation: floating infinite linear 20s;
}

.backgroundContainer {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: var(--animated-bg-z-index);

  & > * {
    filter: blur(5px);
  }
}

.backgroundChess {
  display: inline-block; 
  min-width: 5vw;
  min-height: 5vw;
  background-size: contain;
}

.backgroundPokemon {
  min-width: 7vw;
  min-height: 7vw;
}