.nameChangeModalContainer {
  label {
    display: block
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.nameChangeBottomActions {
  display: flex;
  justify-content: space-between;
}

.nameChangeTitle {
  margin-top: 0;
}