.nameChangeModalContainer {
  label {
    display: block
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  button {
    margin-right: 20px;
  }
}

.nameChangeTitle {
  margin-top: 0;
}