.roomContainer {
  margin: 0px 20px 100px 20px;
  padding-top: 20px;

  @media (min-width: 600px) {
    margin: 0px 50px 100px 120px;
    padding-top: 20px;
  }
}

.roomForm {
  background-color: var(--gray-5);
  box-shadow: 0 0 10px 0 black;
  border-radius: 4px;
  max-width: 1000px;
  margin: 50px 0 0 0;
  padding: 20px;

  @media (min-width: 600px) {
    margin: auto;
  }
}

.roomPlayerContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
}

.roomButtons {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 20px;

  button {
    margin-top: 12px;
  }

  @media (max-width: 500px) {
    padding: 0;
    button {
      width: 80px;
    }
  }
}

.playerContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  width: 100%;
  min-height: 150px;

  span {
    margin: auto 0;
  }

  .player {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 10px;
    word-break: break-all;

    span {
      font-weight: 600;
    }

    img {
      width: 80px;
      height: 80px;
      margin: auto;
    }
  }
}
