.pokemonDetailsContainer {
  background-color: rgba(125, 125, 125, 0.5);
  backdrop-filter: blur(5px);
  width: 96vw;
  min-height: 20vh;
  max-width: 800px;
  font-size: 10px;


  @media (max-width: 599px) {
    button {
      height: 40px;
      width: 80px;
      font-size: 10px;
      .pokemonMoveSubInfo {
        display: none;
      }
    }

    .movesContainer {
      gap: 0;
    }
  }

  @media (min-width: 800px) {
    max-width: 320px;
    height: inherit;
    align-self: stretch;
    font-size: 16px;
  }
}

.pokemonDetailsPadding {
  padding: 8px;
}

.pokemonDetailsCard {
  display: flex;
  flex-direction: row;


  ul {
    list-style: none;
    padding: 0 0 0 20px;
    margin: 0;
    width: 150px;

    b {
      display: block;
    }
  }

  @media (min-width: 800px) {
    flex-direction: column;
  }
}

.pokemonDetailsSprite {
  display: block;
  margin: auto;
  max-width: 50px;
  max-height: 50px;

  @media (min-width: 600px) {
    max-width: 70px;
    max-height: 70px;
  }

  @media (min-width: 800px) {
    max-width: 100px;
    max-height: 100px;
  }
}

.pokemonDetailsTyping {
  max-width: 100px;
  margin-right: 8px;
}