.pokemonBattleBackground {
  width: 600px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.player1PokemonSprite {
  position: absolute;
  bottom: 100px;
  left: 100px;
  transform: scale(2);
}

.player2PokemonSprite {
  position: absolute;
  top: 150px;
  right: 150px;
}