:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  color-scheme: light only;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /**
   * Various z-indexes which are necessary for absolute positioned elements throughout the webapp
   */
  --animated-bg-z-index: -1;

  --chess-arrow-z-index: 1;
  --chess-pawn-promotion-z-index: 1;
  --pokemon-battle-info-z-index: 1;
  --pokemon-health-z-index: 3;

  --mobile-nav-bg-z-index: 10;
  --nav-actions-z-index: 11;
  --mobile-nav-actions-z-index: 12;
  --tooltip-z-index: 98;

  --modal-bg-z-index: 99;
  --modal-z-index: 100;

  --chat-z-index: 101;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}