.takenChessPiecesContainer {
  display: flex;
  flex-direction: row;
  min-height: 30px;

  .pieceContainer {
    height: 30px;  
    width: 30px;
  }

  @media (min-width: 800px) {
    min-height: 50px;

    .pieceContainer {
      height: 50px;  
      width: 50px;
    }
  }
}