.tooltipContainer .tooltip {
  text-align: left;
  padding: 6px;
  color: white;
  background-color: var(--dark-translucent-bg);
  backdrop-filter: blur(5px);
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  font-weight: 600;
  z-index: var(--tooltip-z-index);
  border-radius: 10px;
  max-width: 80vw;
  border: black solid 2px;

  p,
  strong {
    margin: 0;
  }
  hr {
    margin: 2px 0px;
  }
}

.darkTooltip .tooltip {
  background-color: var(--gray-7);
}
