.chessSquare {
  width: 7vw;
  height: 7vw;
  max-width: 100px;
  max-height: 100px;
  position: relative;
}

.whiteChessSquare {
  color: black;
  background-color: white;
}

.blackChessSquare {
  color: white;
  background-color: black;
}

.highlighted {
  background-color: red;
}

.selected {
  background-color: blue;
}

.squareText {
  position: absolute;
}

.squareNum {
  top: 0;
  left: 3px;
}

.squareChar {
  bottom: 0;
  right: 3px;
}