.chessSquare {
  width: 12vw;
  height: 12vw;
  max-width: 100px;
  max-height: 100px;
  position: relative;
  font-size: 10px;

  @media (min-width: 800px) {
    width: 7vw;
    height: 7vw;
    font-size: 16px;
  }
}

.squareColorFilter {
  height: 100%;
  width: 100%;
  position: absolute;
}

.whiteChessSquare {
  color: black;
  background-color: white;
}

.blackChessSquare {
  color: white;
  background-color: black;
}

.highlighted {
  background-color: rgba(255, 51, 51, 0.75);
}

.selected {
  background-color: rgba(51, 51, 255, 0.75);
}

.mostRecentMove {
  background-color: rgba(255, 255, 51, 0.75);
}

@keyframes blinkColor {
  0% {
    background-color: rgba(255, 51, 51, 0.75);
  }

  50% {
    background-color: rgba(255, 51, 51, 0);
  }

  100% {
    background-color: rgba(255, 51, 51, 0.75);
  }
}

.battleSquare {
  background-color: rgba(255, 51, 51, 0.75);
  background-image: url('/src/assets/versus.png');
  background-size: contain;
  background-repeat: no-repeat;
  animation: blinkColor;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
}

.squareNum {
  top: 0;
  left: 3px;
  position: absolute;
}

.squareChar {
  bottom: 0;
  right: 3px;
  position: absolute;
}