.pieceSpriteContainer {
  position: relative;
  width: 100%;
  height: 100%;
  touch-action: none;
}

.chessPiece {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: contain;
}

.pokemonPieceSprite {
  position: absolute;
  height: 50%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  bottom: 0;
}