
.roomContainer {
  display: flex;
  flex-direction: column;
  margin: 100px;

  background-color: #374151;
  border-radius: 4px;
  padding: 20px;
}

.roomButtons {
  button {
    margin-right: 12px;
  }
}

.roomPlayerList {
  list-style: none;
  padding: 0;

  li {
    height: 32px;
    font-size: 18px;
    align-content: center;
    padding: 8px;
    border-radius: 4px;

    &:nth-child(odd) {
      background-color: grey;
    }
    &:nth-child(even) {
      background-color: darkcyan;
    }
  }
}