
.moveHistoryContainer {
  list-style: none;
  padding: 0;
  font-weight: 700;
  max-height: 150px;
  overflow-y: scroll;

  @media (min-width: 600px) {
    max-height: 300px;
  }

  .moveHistoryRow {
    display: grid;
    grid-template: auto 1fr / 1fr 2fr 2fr;
    margin-left: 4px;
    padding: 4px;
    background-color: var(--gray-5);

    &:nth-child(odd) {
      background-color: var(--gray-6);
    }
  }
}

.moveHistoryTurnLabel {
  display: inline-block;
}

.moveHistoryMoveLabel {
  display: inline-block;
  margin-left: 20px;
}

.moveHistoryFail {
  color: var(--red-2);
}

.moveHistoryWin {
  color: var(--green-2);
}